{% extends 'agenda/base.html' %}
{% load static %}
{% block titul %}Agendar{% endblock %}

{% block contenedor %}
<section class="container mt-3 mb-3" style="background-color: #ACB6F9; max-width: 1000px; border-radius: 0.3cm;">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 p-4">
            <h1>Formulario Servicio</h1>
            {% if id > 0 %}
                <h2>Editar Formulario Servicio</h2>
            {% endif %}

            <form action="{% url 'guardar_servicio' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="idServicio" value="{{id}}"><br>

                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label><br>
                    <input type="text" class="form-control" name="nombre" value="{{data.nombre}}"><br>
                </div>
                <div class="mb-3">
                    <label for="duracion" class="form-label">Duración</label><br>
                    <input type="text" class="form-control" name="duracion" value="{{data.duracion}}"><br>
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción</label><br>
                    <input type="text" class="form-control" name="descripcion" value="{{data.descripcion}}"><br>
                </div>
                <div class="mb-3">
                    <label for="precio" class="form-label">Precio</label><br>
                    <input type="text" class="form-control" name="precio" value="{{data.precio}}"><br>
                </div>
                <div class="mb-3">
                    <label for="disponibilidad" class="form-label">Disponibilidad</label><br>
                    <input type="text" class="form-control" name="disponibilidad" value="{{data.disponibilidad}}"><br>
                </div>
                {% if id > 0 %}
                    <button type="submit" class="btn btn-dark rounded-pill">Actualizar</button>
                {% else %}
                    <button type="submit" class="btn btn-dark rounded-pill">Crear</button>
                {% endif %}
            </form>
        </div>
    </div>
</section>
{% endblock %}
